* {
    text-align: center;
    /* border: 2px solid red; */
    width: 800px;
    box-sizing: border-box;
    margin: auto;
    
}

body {
    background-color: rgb(38, 37, 37);
    
}

.recipe {
    background-color: white;
    border: 1px solid black;
    /* width: 1000px; */
    margin: auto;
}

.mainimg {
    width: 400px;
    height: auto;
    background-color: transparent;
}

.description {
    border: 2px solid  black  ;
}

.ingredients {
    border: 2px solid black;
}

.index-button {
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

h2,
p,
li {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    width: 400px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

footer {
    margin-top: 20px;
    margin-bottom: 50px;
    border:  1px solid black;
    padding: 20px;
    margin: auto;
}

.footer-link {
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

