* {
    text-align: center;
}

body {
    background-color: rgb(38, 37, 37);
}

.recipe {
    background-color: white;
    /* border: 2px solid red; */
    width: 1000px;
    height: auto;
    margin: auto;
}

.mainimg {
    width: 400px;
    height: auto;
}

.description {
    border: 2px solid  black  ;
}

.ingredients {
    border: 2px solid black;
}