* {
    text-align: center;
}

div a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    color:white;
}

button {
    background-color: aqua;
}

.pizza-img {
    width: 100px;
    height: auto;
}

.pasta-img {
    width: 100px;
    height: auto;
}

.taco-img {
    width: 100px;
    height: auto;
}



body {
    background-color:cornflowerblue
}

.main {
    background-color: aqua;
}

/* Recipes */

img {
    width: fit-content;
    height: auto;
}

/* h2 {
    color: red;
} */

h1 {
    border: 1px solid black;
    background-color: white;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.button {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 35px;
}

.extra-button {
    width: 100px;
    height: auto;
    background-image:url(/images/chicken-tacos.jpg);
}