* {
    text-align: center;
    background-color: aliceblue;
    /* border: 1px red solid; */
}

.heading h1 {
    background-color: transparent;
}

.button-image {
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 20%;
}

.button {
    background-color: lightgray;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20%;
}

.recipe-link {
    color: #a10000;
    text-decoration: none;
    background-color: transparent;
}

a {
    background-color: transparent;
}
