/* * {
    border: 2px red solid;
} */

body {
    background-color: #e0dfdf;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* 
Recipe card styling
*/

.recipeCardContainer {
    display: flex;

}